@{
    ViewBag.Title = "AdminCtaUsuario";
}

<h3>Administrar Cuenta de usuario</h3>
<table style="width: 100%;">
    <tr>
        <td>ingrese Codigo de Alumno</td>
        <td><input id="txtUsuario" type="text" /></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Ingrese Contraseña</td>
        <td><input id="txtContrasena" type="text" /></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Repita Contraseña</td>
        <td><input id="txtRepitaContrasena" type="text" /></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><input id="btnAceptar" type="button" value="Cambiar Contraseña" /></td>
        <td><input id="btnResetear" type="reset" value="reset" /></td>
        <td>&nbsp;</td>
    </tr>
</table>
