@{
    ViewBag.Title = "RegisNotCurso";
}

<h3>Registrar Las notas de un curso</h3>
<table style="width: 100%;">
    <tr>
        <td>Ingrese Curso</td>
        <td>
            <select id="Select1">
                <option>Calculo 1</option>
                <option>Algebra</option>
                <option>Programacion Lineal</option>
                <option>ing. de Sotfware</option>
            </select>
        </td>
        <td>ingrese La Nota</td>
        <td><input id="txtNota" type="text" /></td>
    </tr>
    <tr>
        <td>Agregar Nota</td>
        <td><input id="btnAgregarNota" type="button" value="Agrege Nota" /></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
