@{
    ViewBag.Title = "RegisMatricula";
}

<h3>El Administrador - Registrar la matricula</h3>

<table style="width: 100%;" border="1">
    <tr>
        <td>Ingrese Codigo de Alumno</td>
        <td><input id="txtCodAlumno" type="text" /></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Ingrese Codigo de Boucher</td>
        <td><input id="txtCodBoucher" type="text"  /></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Registrar Matricula</td>
        <td><input id="btnRegistrar" type="button" value="Registrar" /></td>
        <td>&nbsp;</td>
    </tr>
</table>
