@{
    ViewBag.Title = "MostrarCargAcademica";
}

<h3>Este Es el Formulario donde se va Mostrar <br />La Carga Academicada</h3><br />

<input id="btnMostrarCargaAcademica" type="button" value="Mostrar Carga Academica" /><br />

<table style="width: 100%;">
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
