@{
    ViewBag.Title = "RealiReportes";
}

<h2>Realizar Reportes</h2>

<h3>Pagina Para Visualizar los Reportes de los Alumnos</h3>
<h3>En Esta Pagina el Alumno verificara su Los Reportes de</h3>

<input id="btnRealizarFichaSeguimiento" type="button" value="Realizar La Ficha de Seguimiento" /><br />
<input id="btnRealizarReporteHorario" type="button" value="Realizar Reportes de Horario" /><br />
<table style="width: 100%;" border="1">
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
