@{
    ViewBag.Title = "Reserva";
}

<h3>Reserva Matricula - Realizada por el Alumno</h3><br />
<h3>Escoer Cursos a llevar</h3>
<table style="width: 100%;" border="1">
    <tr>
        <td><select id="Select1">
            <option>Calculo 1 </option>
            <option>Matematica basica</option>
            <option>Algebra</option>
            <option>Geometria</option>
        </select></td>
        <td>Escoja Su Curso</td>
        <td><input id="btnEsojerCurso" type="button" value="Aceptar" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
